<form name='form1' action="/controllerUpdate" method="post">
    <input type="hidden" name='id' id="id"  value="{{id}}"><br>
    <input type="text" name='empresa' id="empresa" placeholder="Empresa:" value="{{empresa}}"><br>
    <input type="text" name='cnpj' id="cnpj" placeholder="cnpj:" value="{{cnpj}}"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Atualizar"><br>
</form>